@import url(./reset.css);
@import url(./_system.css);

.guide {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, white 0%, white 10px, rgb(201, 214, 232, 1) 100%);
}

/* header S: */
header {
  max-width: 1140px;
  width: 100%;
  height: 64px;
  margin: 0 auto;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header > div {
  min-width: 1.50em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
  z-index: 10;
}

header .mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .mid span {
  color: var(--neutral-white);
}

header .taBtn {
  height: 2.19em;
  padding: 0 13.5px;
  background-color: var(--neutral-black-800);
  border: 1px solid var(--neutral-black-300, rgba(196, 196, 196, 1));
  border-radius: 2.19em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

header .taBtn span {
  color: rgba(199, 199, 204, 1);
}

header .headerBtn {
  display: none;
}

header .headerBtn.on {
  display: block;
}
/* header E: */

/* footer S: */
footer {
  width: 100%;
  max-width: 720px;
  background-color: var(--neutral-black-800);
  border-top: 1px solid var(--neutral-black-700);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

footer ul {
  width: 100%;
  padding: 0.5625em 1.6875em 2.125em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

footer figure img {
  width: 1.625em;
}

footer figure img:nth-of-type(2),
footer figure.on img:nth-of-type(1) {
  display: none;
}

footer figure.on img:nth-of-type(2) {
  display: block;
}

footer figure figcaption {
  color: var(--neutral-black-500);
}

footer figure.on figcaption {
  color: var(--neutral-black-50);
}

footer.trainer ul li.note {
  display: none;
}

footer.member ul li.schedule,
footer.member ul li.management {
  display: none;
}
/* footer E: */