@import url(./reset.css);
@import url(./_system.css);

/* 글씨체 S: */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

html,
.inter {
  font-family: "Inter", sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.pretendard {
  font-family: "Pretendard";
}
/* 글씨체 E: */

:root {
  --profile-border: 2px solid rgba(0, 0, 0, 1);
}

/* 스크롤 S: */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
/* 스크롤 E: */

/* main S: */
.main {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background: url(/img/bg.jpeg) no-repeat center;
  background-size: cover;
}
/* main E: */

/* sub S: */
.sub {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* sub E: */

/* page-motion S: */
.page-motion {
  min-width: 100%;
  min-height: 100%;
  /* background-color: rgba(255, 255, 255, 1); */
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  z-index: 20;
}
/* page-motion E: */

/* profile S: */
.sub_profile {
  background-color: #fcfcf8;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAY...");
  background-size: 200px 200px;
  opacity: 0.99;
  position: relative;
}

.sub_profile .scroll_wrap {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.sub_profile .profile {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 20px 180px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sub_profile .title {
  padding-left: 2vw;
  text-align: center;
  letter-spacing: 2vw;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.sub_profile .section {
  display: grid;
  position: relative;
}

.sub_profile .full-name {
  grid-template-columns: 1fr 2fr;
}

.sub_profile .basic-info {
  display: grid;
  grid-template-columns: 0.8fr 2.2fr;
  align-items: stretch;
  gap: 20px;
}

.sub_profile .photo-box {
  background: #eee;
  aspect-ratio: 3.5/4.5;
  width: 100%;
  border: var(--profile-border);
}

.sub_profile .photo-box > img {
  display: block;
  width: 100%;
  height: 100%;
}

.sub_profile .right-info {
  height: 100%;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
}

.sub_profile .type3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sub_profile .info-field,
.sub_profile .info {
  border: var(--profile-border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 35px;
}

.sub_profile .company .info .name,
.sub_profile .company .info .date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub_profile .info-field,
.sub_profile .company .info .name {
  background-color: rgb(244, 241, 241);
}

.sub_profile .introduce .info {
  padding: 20px;
  align-items: flex-start;
}

.sub_profile .introduce .info .keyword {
  display: inline-block;
  padding: 0 20px;
  background-color: rgba(254, 223, 226, 0.6);
  border-radius: 20px;
  word-break: keep-all;
}

.sub_profile .introduce .info .content {
  padding-left: 20px;
  text-indent: 10px;
  word-break: keep-all;
}

.sub_profile .introduce .info .content,
.sub_profile .introduce .info ul li + li {
  margin-top: 20px;
}

.sub_profile .info-field.gray {
  background-color: rgb(226, 225, 225);
}

.sub_profile .info {
  background-color: rgba(255, 255, 255, 1);
}

.sub_profile .company .info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sub_profile .info + .info-field,
.sub_profile .info:not(:nth-child(2)),
.sub_profile .section.type2 .info {
  border-top: none;
}

.sub_profile .section:not(.type2) .info-field + .info {
  border-left: none;
}

.sub_profile .company .info .date {
  border-left: var(--profile-border);
}

.sub_profile .company .info > div:not(:nth-child(1), :nth-child(2)) {
  border-top: var(--profile-border);
}

.sub_profile .sticker {
  position: absolute;
}

.sub_profile .sticker1 {
  width: 110px;
  top: 0;
  right: 0;
  animation: imperfectRotate 3s infinite ease-in-out;
  transform-origin: center;
}

.sub_profile .sticker2 {
  bottom: 0;
  right: 0;
  transform: scale(0.5) translate(50%, 50%);
  z-index: -1;
}

.sub_profile .sticker3 {
  bottom: 0;
  left: 0;
  transform: scale(0.8) translate(-20%, 20%);
}
/* profile E: */

/* timeline S: */
.sub_timeline {
  background-color: #fcfcf8;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAY...");
  background-size: 200px 200px;
  opacity: 0.99;
  position: relative;
}

.sub_timeline .scroll_wrap {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.sub_timeline .timeline {
  display: grid;
  grid-template-columns: minmax(42vw, 1.25fr) minmax(14vw, 0.5fr) minmax(42vw, 1.25fr);
}

.sub_timeline .timeline .timeline-item {
  padding: 10px;
  line-height: 1.5;
  word-break: break-word;
}

.sub_timeline .timeline .timeline-item .red {
  color: rgba(237, 34, 36, 1);
  font-weight: 800;
}

.sub_timeline .timeline .timeline-item.line {
  padding: 50px 1vw;
  background-color: rgba(237, 34, 36, 1);
  font-size: clamp(26px, 8vw, 100px);
  color: rgba(255, 255, 255, 1);
  font-weight: 800;
  line-height: 1;
  word-break: keep-all;
}

.sub_timeline .timeline .timeline-item.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sub_timeline .timeline .timeline-item.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.sub_timeline .timeline .timeline-item.title {
  padding: 10vh 0 10vh min(1.5vw, 20px);
  font-size: clamp(24px, 7vw, 100px);
  font-weight: 500;
  line-height: 1;
}

.sub_timeline .timeline .timeline-item .list_box > li + li {
  margin-top: 10px;
}

.sub_timeline .timeline .timeline-item ul li .date {
  display: inline-block;
  position: relative;
  font-family: "Pretendard";
  font-size: clamp(18px, 2.5vw, 30px);
  font-weight: 500;
}

.sub_timeline .timeline .timeline-item ul li .date::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.1em;
  width: 0;
  height: 50%;
  background: rgba(244, 196, 201, 0.8);
  z-index: -1;
  animation: 1s line 0.5s cubic-bezier(0, 0, 0.28, 1.05) forwards;
  transform-origin: left;
}

.sub_timeline .timeline .timeline-item ul li .content {
  margin-top: 5px;
  font-weight: 600;
}

.sub_timeline .timeline .timeline-item:last-child {
  height: 180px;
}

.sub_timeline .timeline .timeline-item.img {
  position: relative;
}

.sub_timeline .timeline .timeline-item.img img {
  max-width: 350px;
  position: absolute;
  opacity: 0.7;
}

.sub_timeline .timeline .timeline-item.img.pc img {
  right: 70px;
  transform: translateX(100%);
}

.sub_timeline .timeline .timeline-item.img.dream img {
  left: 110px;
  transform: translateX(-100%) rotate(-25deg);
}

.sub_timeline .timeline .timeline-item.img.strawberry img {
  right: 100px;
  transform: translateX(100%) rotate(10deg);
}

.sub_timeline .timeline .timeline-item.img.softserve img {
  left: 140px;
  transform: translateX(-100%) rotate(-30deg);
}
/* timeline E: */

/* skill S: */
.page-motion-skill {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.sub_skill {
  position: relative;
}

.sub_skill .swiper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sub_skill .swiper_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 100px 0 180px;
  position: relative;
}

.sub_skill .top_box {
  flex-shrink: 0;
  position: relative;
}

.sub_skill .title {
  display: inline;
  font-family: "Pretendard";
  font-size: min(11vw, 50px);
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) skewX(-20deg);
}

.sub_skill .logo_icon {
  display: inline-block;
  width: 50%;
  max-width: 250px;
  margin-top: min(10vh, 100px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.sub_skill .logo_icon canvas {
  width: 100%;
  max-width: 250px;
  aspect-ratio: 1/1;
}

.sub_skill .custom-button {
  width: min(10vw, 50px);
}

.sub_skill .custom-prev {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.sub_skill .custom-next {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.sub_skill .skill_content {
  flex-grow: 1;
  min-height: 0;
  position: relative;
}

.sub_skill .skill_content * {
  position: relative;
  z-index: 100;
}

.sub_skill .skill_content {
  display: inline-block;
  margin-top: 3vh;
  text-align: center;
  word-break: keep-all;
  line-height: 1.5;
}

.sub_skill .skill_content .heart_box {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(1vw, 10px);
}

.sub_skill .skill_content .heart_box > div {
  width: min(10vw, 80px);
  aspect-ratio: 1/1;
}

.sub_skill .skill_content .heart_box > div > canvas {
  width: 100%;
  height: 100%;
}

.sub_skill .skill_content::before {
  content: "";
  width: 100%;
  height: calc(100% + 180px);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  position: absolute;
  bottom: -180px;
  left: 50%;
  transform: translateX(-50%);
}

.sub_skill .skill_content::after {
  content: "";
  width: 100%;
  height: min(15vh, 150px);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -99.9%);
}
/* skill E: */

/* project S: */
.sub_project {
  background-color: rgba(255, 255, 255, 1);
}
/* project E: */

/* footer S: */
footer {
  width: fit-content;
  margin: 0 auto;
  padding: min(3vw, 10px) 2vw;
  background-color: rgba(236, 236, 236, 1);
  border-radius: 28px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 25px;
  z-index: 100;
}

footer ul {
  display: inline-flex;
  justify-content: center;
  gap: min(2vw, 20px);
}
/* footer E: */

@media all and (max-width: 1600px) {
  /* timeline S: */
  .sub_timeline .timeline .timeline-item.img.pc img {
    right: 3vw;
  }

  .sub_timeline .timeline .timeline-item.img.dream img {
    left: 10vw;
  }

  .sub_timeline .timeline .timeline-item.img.strawberry img {
    right: 8vw;
  }

  .sub_timeline .timeline .timeline-item.img.softserve img {
    left: 14vw;
  }
  /* timeline E: */
}

@media all and (max-width: 900px) {
  .main {
    padding: 5vh 5% 0;
  }

  /* profile S: */
  .sub_profile .basic-info {
    grid-template-columns: 1fr;
  }

  .sub_profile .photo-box {
    width: max(30%, 200px);
    margin: 0 auto;
  }

  .sub_profile .right-info {
    grid-template-columns: 1fr;
  }

  .sub_profile .type3,
  .sub_profile .full-name,
  .sub_profile .company .info {
    grid-template-columns: 1fr;
  }

  .sub_profile .section.full-name .info {
    border-top: none;
    border-left: var(--profile-border) !important;
  }

  .sub_profile .section:not(.type2) .info-field + .info {
    border-top: none;
    border-left: var(--profile-border);
  }

  .sub_profile .company .info > div:nth-child(2) {
    border-top: var(--profile-border);
  }

  .sub_profile .company .info .date {
    border-left: none;
  }
  /* profile E: */

  /* timeline S: */
  .sub_timeline .timeline .timeline-item ul li .date {
    font-size: 18px;
  }

  .sub_timeline .timeline .timeline-item.img img {
    max-width: 30vw;
  }

  .sub_timeline .timeline .timeline-item.img.pc img {
    right: 2vw;
  }

  .sub_timeline .timeline .timeline-item.img.dream img {
    left: 7vw;
  }

  .sub_timeline .timeline .timeline-item.img.strawberry img {
    right: 7vw;
  }

  .sub_timeline .timeline .timeline-item.img.softserve img {
    left: 9vw;
  }
  /* timeline E: */
}

@keyframes imperfectRotate {
  0%   { transform: rotate(0deg) translate(10%, -40%); }
  10%  { transform: rotate(3deg) translate(10%, -40%); }
  25%  { transform: rotate(2deg) translate(10%, -40%); }
  40%  { transform: rotate(4deg) translate(10%, -40%); }
  55%  { transform: rotate(1deg) translate(10%, -40%); }
  70%  { transform: rotate(5deg) translate(10%, -40%); }
  85%  { transform: rotate(2.5deg) translate(10%, -40%); }
  100% { transform: rotate(0deg) translate(10%, -40%); }
}

@keyframes line {
  0%   { width: 0; }
  100% { width: 100%; }
}