/* iconLayout S: */
.iconLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.iconLayout .smallZip {
    max-width: 130px;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.iconLayout > * {
    max-width: 130px;
    flex: 1;
}
/* iconLayout E: */

/* icon S: */
.iconBox {
    position: relative;
}

.icon {
    display: block;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

img.icon {
    object-fit: contain;
    cursor: pointer;
}

.icon.small {
    width: 55px;
    border-radius: 12px;
}

.icon.big {
    max-width: 130px;
    border-radius: 15px;
}

.icon.lp {
    border-radius: 50%;
    animation: spin 4s linear infinite;
}

.icon + figcaption {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    position: relative;
    text-align: center;
}

.icon.big + figcaption {
    bottom: -4px;
}
/* icon E: */

/* alarm S: */
.alarmBox {
    max-width: 300px;
    width: 80vw;
    height: 80px;
    background-color: rgba(56, 56, 56, 0.7);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 100;
}

.alarmBox.show {
    display: flex;
    top: 10px;
    animation: fadeInDown 0.4s forwards;
}

.alarmBox.hide {
    animation: fadeInUp 0.4s forwards;
}

.alarmBox > img {
    filter: saturate(0.7);
}

.alarmBox .alarmText {
    width: 60%;
}

.alarmBox .alarmText .alarmTitle {
    transform: scaleY(1.04);
    text-align: center;
    font-family: Pretendard;
    font-weight: 400;
    font-size: 15px;
    color: rgba(245, 245, 245, 1);
    line-height: 1.4;
    letter-spacing: 1.2px;
}

.alarmBox .alarmText .alarmContent {
    margin-top: 10px;
    transform: scaleY(1.04);
    text-align: center;
    font-family: Pretendard;
    font-weight: 200;
    font-size: 12px;
    color: rgba(245, 245, 245, 1);
    line-height: 1.4;
}
/* alarm E: */

/* widget S: */
.widget {
    max-width: 260px;
    height: 152px;
    aspect-ratio: 260/130;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 17px;
    position: relative;
}

.widget::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 17px;
    position: absolute;
    z-index: 10;
}

.widget .todayDate {
    width: 100%;
    height: 100%;
    padding: 5%;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8%;
    position: relative;
    z-index: 20;
}

.widget .todayDate .weekday {
    font-size: 26px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    
}

.widget .todayDate .day {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}

.widget .clock {
    font-size: 80px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
/* widget E: */

@media all and (max-width: 900px) {
    /* iconLayout S: */
    .iconLayout {
        width: 260px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }
    /* iconLayout E: */

    /* widget S: */
    .widget {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    /* widget E: */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInDown {
	0% {
		transform: translate3d(-50%, -100%, 0);
	}
	100% {
		transform: translate3d(-50%, 0, 0);
	}
}

@keyframes fadeInUp {
	0% {
		transform: translate3d(-50%, 0, 0);
	}
    100% {
		transform: translate3d(-50%, -100%, 0);
    }
}